mat-card {
  max-width: 90%;
  margin: 2em;
  text-align: center;
}

.colum-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  padding: 25px;
}
