<mat-card class="container">
  <mat-card-content>
    <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Categoria" formControlName="category" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="container__button">
    <button mat-raised-button color="primary" mat-button (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
